<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>首页</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../plugins/jqbanner/jqbanner.css">
  <link rel="stylesheet" href="../plugins/rollSlide-master/static/css/index.css">
  <link rel="stylesheet" href="../css/home.css">
</head>

<body>
  <div class="box-wrapper">
    <div class="box-banner">
      <img class="img-banner" src="../img/banner.png" alt="">
      <div class="img-logo">
          <img src="../img/logo.png" alt="">
          <p class="logo-tip">绝处逢生，否极泰来</p>
      </div>
    </div>
    <div class="box-nav">
      <div class="w1200">
        <ul class="nav-list clearfix">
          <li><a href="##">首页</a></li>
          <li>
            <a href="##">关于协会</a>
            <ul class="second-menu">
              <li><a href="##">协会章程</a></li>
              <li><a href="##">协会简介</a></li>
              <li><a href="##">人才招聘</a></li>
              <li><a href="##">联系协会</a></li>
            </ul>
          </li>
          <li><a href="##">会员服务</a></li>
          <li><a href="##">信息动态</a></li>
          <li><a href="##">政策法规</a></li>
          <li><a href="##">会员培训</a></li>
          <li><a href="##">党建信息</a></li>
        </ul>
        <div class="nav-input">
          <img class="img-search" src="../img/search.png" alt="">
          <input class="nav-input-text" placeholder="搜索您要查询的关键字" type="text">
        </div>
      </div>

    </div>
    <main>
      <section class="floor1 clearfix">
        <div class="w1200">
          <div class="swiper-container fl">
            <div id="banner">

              <div id="banner_bg"></div>

              <!--标题背景-->

              <div id="banner_info"></div>

              <!--标题-->

              <ul>

                <li class="on"></li>

                <li></li>

                <li></li>

                <li></li>

              </ul>

              <div id="banner_list">

                <a href="#" target="_blank"><img src="../img/img1.png" title="jquery插件库1" alt="全球高管协会1..." /></a>

                <a href="#" target="_blank"><img src="../img/img1.png" title="jquery插件库2" alt="全球高管协会2..." /></a>

                <a href="#" target="_blank"><img src="../img/img1.png" title="jquery插件库3" alt="全球高管协会3..." /></a>

                <a href="#" target="_blank"><img src="../img/img1.png" title="jquery插件库4" alt="全球高管协会4..." /></a>

              </div>

            </div>
          </div>
          <article class="tzgg fl">
            <div class="list-box">
              <div class="list-box__header clearfix">
                <hgroup class="clearfix">
                  <h3>通知公告</h3>
                  <h4>Offical documents to be done</h4>
                </hgroup>
                <span class="more">更多</span>
              </div>
              <div class="list-box__body">
                <div class="data-wblock clearfix">
                  <h4>18</h4>
                  <time>2019/02</time>
                </div>
                <dl class="list-info" style="margin-left:75px;">
                  <dt class="list-info__title">
                    2018年协会工作总结及2019工作总结
                  </dt>
                  <dd class="list-info__desc">
                    2月26日，协会在南京召开2019年会长会议，会长宁效云、副会长向临福。
                  </dd>
                </dl>
                <ul class="list-items">
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                </ul>
              </div>
            </div>
          </article>
          <aside class="fr">
            <a href="##">
              <dl>
                <dt class="aside-icon1"></dt>
                <dd>
                  <hgroup class="clearfix">
                    <span>User settings</span>
                    <h4>会员登录</h4>
                  </hgroup>
                </dd>
              </dl>
            </a>

            <a href="##">
              <dl>
                <dt class="aside-icon2"></dt>
                <dd>
                  <hgroup class="clearfix">
                    <span>About the Association</span>
                    <h4>待办事项</h4>
                  </hgroup>
                </dd>
              </dl>
            </a>
            <a href="##">
              <dl>
                <dt class="aside-icon3"></dt>
                <dd>
                  <hgroup class="clearfix">
                    <span>Join the Association</span>
                    <h4>加入协会</h4>
                  </hgroup>
                </dd>
              </dl>
            </a>
            
          </aside>
        </div>

      </section>
      <section class="floor2 clearfix">
        <div class="w1200">
          <!-- 协会动态 -->
          <artical class="xhdt fl">
            <div class="list-box">
              <div class="list-box__header clearfix">
                <hgroup class="clearfix">
                  <h3>协会动态</h3>
                  <h4>infomation</h4>
                </hgroup>
                <span class="more">更多</span>
              </div>
              <div class="list-box__body">
                <dl class="list-info">
                  <dt class="list-info__title">
                    2018年协会工作总结及2019工作总结
                  </dt>
                  <dd class="list-info__desc">
                    2月26日，协会在南京召开2019年会长会议，会长宁效云、副会长向临福。
                  </dd>
                </dl>
                <ul class="list-items">
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                </ul>
              </div>
            </div>
          </artical>
          <!-- /.协会动态 -->

          <!-- 行业动态 -->
          <artical class="fr hydt">
            <div class="list-box">
              <div class="list-box__header clearfix">
                <hgroup class="clearfix">
                  <h3>行业动态</h3>
                  <h4>industry dynamic</h4>
                </hgroup>
                <span class="more">更多</span>
              </div>
              <div class="list-box__body">
                <dl class="list-info">
                  <dt class="list-info__title">
                    2018年协会工作总结及2019工作总结
                  </dt>
                  <dd class="list-info__desc">
                    2月26日，协会在南京召开2019年会长会议，会长宁效云、副会长向临福。2月26日，协会在南京召开2019年会长会议，会长宁效云、副会长向临福。2月26日，协会在南京召开2019年会长会议，会长宁效云、副会长向临福。
                  </dd>
                </dl>
                <ul class="list-items">
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                </ul>
              </div>
            </div>

          </artical>
          <!-- /.行业动态 -->

        </div>

      </section>
      <!-- 会员动态 -->
      <section class="floor3 hydt2">
        <div class="w1200">
          <div class="list-box">
            <div class="list-box__header clearfix">
              <hgroup class="clearfix">
                <h3>会员动态</h3>
                <h4>Membership dynamics</h4>
              </hgroup>
              <span class="more">更多</span>
            </div>

            <div class="list-box__body roll-body">
              <div class="roll-wrap roll_row" id="roll">
                <ul class="roll__list" style="position: absolute; left: 0; top: 0;">
                  <li>
                    <img src="../img/roll-img1.png" alt="">
                  </li>
                  <li>
                    <img src="../img/roll-img2.png" alt="">
                  </li>
                  <li>
                    <img src="../img/roll-img3.png" alt="">
                  </li>
                  <li>
                    <img src="../img/roll-img4.png" alt="">
                  </li>
                  <li>
                    <img src="../img/roll-img1.png" alt="">
                  </li>
                  <li>
                    <img src="../img/roll-img2.png" alt="">
                  </li>
                </ul>
                <a class="control pre" href="javascript:;">&lt;</a>
                <a class="control next" href="javascript:;">&gt;</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /.会员动态 -->

      <section class="floor4 clearfix">
        <div class="w1200 clearfix">
          <!-- 政策法规 -->
          <article class="zcfg fl">
            <div class="list-box">
              <div class="list-box__header clearfix">
                <hgroup class="clearfix">
                  <h3>政策法规</h3>
                  <h4>policles and regulations</h4>
                </hgroup>
                <span class="more">更多</span>
              </div>
              <div class="list-box__body">
                <ul class="list-items">
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                </ul>
              </div>
            </div>
          </article>
          <!-- /.政策法规 -->

          <!-- 热点观察 -->
          <article class="rdgc fr">
            <div class="list-box">
              <div class="list-box__header clearfix">
                <hgroup class="clearfix">
                  <h3>热点观察</h3>
                  <h4>Hot spot observation</h4>
                </hgroup>
                <span class="more">更多</span>
              </div>
              <div class="list-box__body">
                <ul class="list-items">
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作协会积极贯彻落实取消银行账户许可工作协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                  <li>
                    <span>协会积极贯彻落实取消银行账户许可工作</span>
                    <time>02-15</time>
                  </li>
                </ul>
              </div>
            </div>
          </article>
          <!-- /.热点观察 -->
        </div>

      </section>

      <!-- 会员单位 -->
      <section class="floor5 hydw">
        <div class="w1200">
          <div class="list-box">
            <div class="list-box__header clearfix">
              <hgroup class="clearfix">
                <h3>会员单位</h3>
                <h4>Member unit</h4>
              </hgroup>
              <span class="more">更多</span>
            </div>

            <div class="list-box__body roll-body">
              <div class="roll-wrap roll_row" id="roll2">
                <ul class="roll__list" style="position: absolute; left: 0; top: 0;">
                  <li>
                    <img src="../img/bank_03.png" alt="">
                  </li>
                  <li>
                    <img src="../img/bank_05.png" alt="">
                  </li>
                  <li>
                    <img src="../img/bank_07.png" alt="">
                  </li>
                  <li>
                    <img src="../img/bank_09.png" alt="">
                  </li>
                  <li>
                    <img src="../img/bank_11.png" alt="">
                  </li>
                </ul>
                <a class="control pre" href="javascript:;">&lt;</a>
                <a class="control next" href="javascript:;">&gt;</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /.会员单位 -->

    </main>

    <div class="box-footer">
      <div class="footer-list clearfix">
        <span class="footer-list-title">友情链接</span>
        <ul class="footer-list-item clearfix">
          <li><a href="">中国人民银行</a></li>
          <li><a href="">中国支付清算协会</a></li>
          <li><a href="">北京市民政局</a></li>
          <li><a href="">北京市社会团体管理局</a></li>
          <li><a href="">北京市金融服务办公室</a></li>
          <li><a href="">中国银行业监督管理委员会</a></li>
        </ul>
      </div>
      <div class="footer-ewm">
        <dl class="footer-ewm-dl">
          <dt><img src="../img/ewm.png" alt=""></dt>
          <dd>
            <p>地址：北京市西城区闹市口大街1号院长安兴融中心2号楼4层4A 邮编:10000 电话：（010-12345678、51527500）</p>
            <p>版权所有北京市支付清算协会 京ICP备 1234567890号</p>
          </dd>
        </dl>
        <form class="footer-ewm-form">
          <h3>友情链接</h3>
          <div class="form-group">
            <select name="" id="" class="form-control" >
              <option value="">政府部门</option>
            </select>
          </div>
          <div class="form-group">
            <select name="" id="" class="form-control" >
              <option value="">有关协会</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="../js/jquery-1.8.3.min.js"></script>
  <script src="../plugins/jqbanner/jqbanner.js"></script>
  <script src="../plugins/rollSlide-master/static/js/rollSlide.js"></script>
  <script src="../js/home.js"></script>
</body>

</html>