<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>党建信息</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../plugins/pagination/css/pagination.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/recruitment.css">
</head>

<body>
  <div class="box-wrapper">
    <div class="box-banner">
      <img class="img-banner" src="../img/banner.png" alt="">
      <img class="img-logo" src="../img/logo.png" alt="">
    </div>
    <div class="box-nav">
      <ul class="nav-list clearfix">
        <li><a href="##">首页</a></li>
        <li><a href="##">关于协会</a></li>
        <li><a href="##">会员服务</a></li>
        <li><a href="##">信息动态</a></li>
        <li><a href="##">政策法规</a></li>
        <li><a href="##">会员培训</a></li>
        <li><a href="##">党建信息</a></li>
      </ul>
      <div class="nav-input">
        <img class="img-search" src="../img/search.png" alt="">
        <input class="nav-input-text" placeholder="搜索您要查询的关键字" type="text">
      </div>
    </div>
    <div class="box-content">
      <div class="p-120">
        <div class="box-thematic clearfix">
          <div class="box-the-left">
            <div class="box-the-title">
              <h4 class="news-rel">关于协会 <span>About the Association</span></h4>
            </div>
            <div class="box-meau">
              <ul class="box-meau-ul">
                <li class="box-meau-li">
                  <a class="box-meau-a box-meau-list1" href="##">协会章程</a>
                </li>
                <li class="box-meau-li">
                  <a class="box-meau-a box-meau-list2" href="##">协会简介</a>
                </li>
                <li class="box-meau-li meauHover">
                  <a class="box-meau-a box-meau-list3" href="##">人才招聘</a>
                </li>
                <li class="box-meau-li">
                  <a class="box-meau-a box-meau-list4" href="##">联系协会</a>
                </li>
                <li class="box-meau-li">
                  <a class="box-meau-a box-meau-list5" href="##">党建信息</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="box-the-right">
            <div class="box-right-con">
              <div class="box-banner-img">
                <img src="../img/banner-bg1.png" alt="">
              </div>
              <ul class="box-pos-list clearfix">
                <li>
                  <a href="##">首页</a>
                  <span>></span>
                </li>
                <li>
                  <a href="##">公开栏目</a>
                  <span>></span>
                </li>
                <li class="colorActive">
                  <a href="##">党建信息 </a>
                </li>
              </ul>
              <div class="recruiment">

                <dl class="clearfix">
                  <dt>
                    <div>
                      <span class="position">清算风险管理岗</span>
                      <span class="salary">20K-25K</span>
                    </div>
                    <ul>
                      <li class="area">北京 西城区 月坛</li>
                      <li class="years">5-10年</li>
                      <li class="education">本科</li>
                    </ul>
                  </dt>
                  <dd>
                    <div>
                      <span class="hr-zh">马女士</span>
                      <span class="hr-en">HRBP</span>
                    </div>
                    <time>发布于03月23日</time>
                  </dd>
                </dl>

                <dl class="clearfix">
                  <dt>
                    <div>
                      <span class="position">清算风险管理岗</span>
                      <span class="salary">20K-25K</span>
                    </div>
                    <ul>
                      <li class="area">北京 西城区 月坛</li>
                      <li class="years">5-10年</li>
                      <li class="education">本科</li>
                    </ul>
                  </dt>
                  <dd>
                    <div>
                      <span class="hr-zh">马女士</span>
                      <span class="hr-en">HRBP</span>
                    </div>
                    <time>发布于03月23日</time>
                  </dd>
                </dl>

                <dl class="clearfix">
                  <dt>
                    <div>
                      <span class="position">清算风险管理岗</span>
                      <span class="salary">20K-25K</span>
                    </div>
                    <ul>
                      <li class="area">北京 西城区 月坛</li>
                      <li class="years">5-10年</li>
                      <li class="education">本科</li>
                    </ul>
                  </dt>
                  <dd>
                    <div>
                      <span class="hr-zh">马女士</span>
                      <span class="hr-en">HRBP</span>
                    </div>
                    <time>发布于03月23日</time>
                  </dd>
                </dl>

                <dl class="clearfix">
                  <dt>
                    <div>
                      <span class="position">清算风险管理岗</span>
                      <span class="salary">20K-25K</span>
                    </div>
                    <ul>
                      <li class="area">北京 西城区 月坛</li>
                      <li class="years">5-10年</li>
                      <li class="education">本科</li>
                    </ul>
                  </dt>
                  <dd>
                    <div>
                      <span class="hr-zh">马女士</span>
                      <span class="hr-en">HRBP</span>
                    </div>
                    <time>发布于03月23日</time>
                  </dd>
                </dl>
              </div>
              <div class="pages" style="float:left">
                <div id="Pagination"></div>
                <div class="searchPage">
                  <span class="page-sum">共<strong class="allPage">15</strong>页</span>
                  <span class="page-go">GOTO<input type="text"></span>
                  <a href="javascript:;" class="page-btn">确定</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-footer">
      <div class="footer-list clearfix">
        <span class="footer-list-title">友情链接</span>
        <ul class="footer-list-item clearfix">
          <li>中国人民银行</li>
          <li>中国支付清算协会</li>
          <li>北京市民政局</li>
          <li>北京市社会团体管理局</li>
          <li>北京市金融服务办公室</li>
          <li>中国银行业监督管理委员会</li>
        </ul>
      </div>
      <div class="footer-ewm">
        <dl class="footer-ewm-dl">
          <dt><img src="../img/ewm.png" alt=""></dt>
          <dd>
            <p>地址：北京市西城区闹市口大街1号院长安兴融中心2号楼4层4A 邮编:10000 电话：（010-12345678、51527500）</p>
            <p>版权所有北京市支付清算协会 京ICP备 1234567890号</p>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <script src="../js/jquery-1.8.3.min.js"></script>
  <script src="../plugins/pagination/js/jquery.pagination.js"></script>
  <script src="../js/home.js"></script>
  <script>
    $(document).ready(function () {
      $("#Pagination").pagination(15, {
        prev_text: "<",
        next_text: '>'
      });
    });
  </script>
</body>

</html>