<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>会员级别变更</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/layout.css">
  <link rel="stylesheet" href="../plugins/pagination/css/pagination.css">
  <link rel="stylesheet" href="../css/form-common.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/membership.css">
</head>

<body>
  <div class="box-wrapper">
    <div class="box-banner">
      <img class="img-banner" src="../img/banner.png" alt="">
      <img class="img-logo" src="../img/logo.png" alt="">
    </div>
    <div class="box-nav">
      <ul class="nav-list clearfix">
        <li><a href="##">首页</a></li>
        <li><a href="##">关于协会</a></li>
        <li><a href="##">会员服务</a></li>
        <li><a href="##">信息动态</a></li>
        <li><a href="##">政策法规</a></li>
        <li><a href="##">会员培训</a></li>
        <li><a href="##">党建信息</a></li>
      </ul>
      <div class="nav-input">
        <img class="img-search" src="../img/search.png" alt="">
        <input class="nav-input-text" placeholder="搜索您要查询的关键字" type="text">
      </div>
    </div>
    <div class="box-content">
      <div class="p-120">
        <div class="box-thematic clearfix">
          <div class="box-the-left">
            <div class="box-the-title">
              <h4 class="news-rel">会员服务 <span>Member services</span></h4>
            </div>
            <div class="box-meau member-meau">
              <ul class="box-meau-ul">
                <li class="box-meau-li">
                  <a class="box-meau-a box-meau-list1" href="##">加入单位 </a>
                </li>
                <li class="box-meau-li">
                  <a class="box-meau-a box-meau-list2" href="##">单位申请入会</a>
                </li>
                <li class="box-meau-li">
                  <a class="box-meau-a box-meau-list3" href="##">人员加入审核</a>
                </li>
                <li class="box-meau-li meauHover">
                  <a class="box-meau-a box-meau-list4" href="##">会员级别变更</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="box-the-right">
            <div class="box-right-con">
              <div class="box-banner-img">
                <img src="../img/banner-bg1.png" alt="">
              </div>
              <ul class="box-pos-list clearfix">
                <li>
                  <a href="##">首页</a>
                  <span>></span>
                </li>
                <li>
                  <a href="##">会员服务</a>
                  <span>></span>
                </li>
                <li class="colorActive">
                  <a href="##">单位申请入会</a>
                </li>
              </ul>
              <!-- 变更申请 -->
              <div class="membership">
                <h3 class="title">北京市支付清算协会会员级别变更申请表</h3>
                <form action="">
                  <!-- 基本信息 -->
                  <div class="form-box">
                    <div class="form-box__header">
                      <h3 class="form-box__title">基本信息</h3>
                    </div>
                    <div class="form-box__body">
                      <div class="row between">
                        <div class="item-5">
                          <div class="form-group">
                            <label for="" class="control-label">单位名称</label>
                            <input type="text" name="" id="" class="form-control" placeholder="请输入姓名">
                          </div>
                        </div>
                        <div class="item-5">
                          <div class="form-group">
                            <label for="" class="control-label">企业信用代码</label>
                            <input type="text" name="" id="" class="form-control" placeholder="请输入企业信用代码">
                          </div>
                        </div>

                      </div>
                      <div class="row between">
                        <div class="item-5">
                          <div class="form-group">
                            <label for="" class="control-label">法人代表</label>
                            <input type="text" name="" id="" class="form-control" placeholder="请输入法人代表">
                          </div>
                        </div>
                        <div class="item-5">
                          <div class="form-group">
                            <label for="" class="control-label">成立时间</label>
                            <input type="text" name="" id="" class="form-control" placeholder="请输入成立时间">
                          </div>
                        </div>
                      </div>
                      <div class="row between">

                        <div class="item-5">
                          <div class="form-group has-feedfront has-feedfront">
                            <label for="" class="control-label">注册资本</label>
                            <span class="form-control-feedfront">$</span>
                            <input type="text" name="" id="" class="form-control" placeholder="">
                          </div>
                        </div>
                        <div class="item-5">
                          <div class="form-group has-feedback">
                            <label for="" class="control-label">注册省（市）</label>
                            <span class="form-control-feedback form-arrow-down-icon"></span>
                            <input type="text" name="" id="" class="form-control" placeholder="请选择成立时间">
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="item-12">
                        <div class="form-group">
                          <label for="" class="control-label">注册地址</label>
                          <input type="text" name="" id="" class="form-control" placeholder="请输入注册地址">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="item-12">
                        <div class="form-group">
                          <label for="" class="control-label">会员机构类型</label>
                          <div class="checkbox-lists">
                            <div class="row">

                              <div class="item2">
                                <label class="checkbox-wrap">
                                  <input type="checkbox" class="checkbox-beauty">
                                  <span>银行</span>
                                </label>
                              </div>
                              <div class="item2">
                                <label class="checkbox-wrap">
                                  <input type="checkbox" class="checkbox-beauty">
                                  <span>非银行支付机构</span>
                                </label>
                              </div>
                              <div class="item2">
                                <label class="checkbox-wrap">
                                  <input type="checkbox" class="checkbox-beauty">
                                  <span>特许支付清算组织</span>
                                </label>
                              </div>
                              <div class="item2">
                                <label class="checkbox-wrap">
                                  <input type="checkbox" class="checkbox-beauty">
                                  <span>其他</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="item-12">
                        <div class="form-group">
                          <label for="" class="control-label">当前会员单位级别</label>
                          <div class="checkbox-lists">
                            <div class="row between">

                              <div class="item2">
                                <label class="checkbox-wrap">
                                  <input type="checkbox" class="checkbox-beauty">
                                  <span>会长单位</span>
                                </label>
                              </div>
                              <div class="item2">
                                <label class="checkbox-wrap">
                                  <input type="checkbox" class="checkbox-beauty">
                                  <span>常务副会长/秘书长单位</span>
                                </label>
                              </div>
                              <div class="item2">
                                <label class="checkbox-wrap">
                                  <input type="checkbox" class="checkbox-beauty">
                                  <span>副会长单位</span>
                                </label>
                              </div>
                              <div class="item2">
                                <label class="checkbox-wrap">
                                  <input type="checkbox" class="checkbox-beauty">
                                  <span>理事单位</span>
                                </label>
                              </div>
                              <div class="item2">
                                <label class="checkbox-wrap">
                                  <input type="checkbox" class="checkbox-beauty">
                                  <span>监事长（会员标准）</span>
                                </label>
                              </div>
                              <div class="item2">
                                <label class="checkbox-wrap">
                                  <input type="checkbox" class="checkbox-beauty">
                                  <span>会员单位</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                        <div class="item-12">
                          <div class="form-group">
                            <label for="" class="control-label">申请会员单位级别</label>
                            <div class="checkbox-lists">
                              <div class="row between">
  
                                <div class="item2">
                                  <label class="checkbox-wrap">
                                    <input type="checkbox" class="checkbox-beauty">
                                    <span>会长单位</span>
                                  </label>
                                </div>
                                <div class="item2">
                                  <label class="checkbox-wrap">
                                    <input type="checkbox" class="checkbox-beauty">
                                    <span>常务副会长/秘书长单位</span>
                                  </label>
                                </div>
                                <div class="item2">
                                  <label class="checkbox-wrap">
                                    <input type="checkbox" class="checkbox-beauty">
                                    <span>副会长单位</span>
                                  </label>
                                </div>
                                <div class="item2">
                                  <label class="checkbox-wrap">
                                    <input type="checkbox" class="checkbox-beauty">
                                    <span>理事单位</span>
                                  </label>
                                </div>
                                <div class="item2">
                                  <label class="checkbox-wrap">
                                    <input type="checkbox" class="checkbox-beauty">
                                    <span>监事长（会员标准）</span>
                                  </label>
                                </div>
                                <div class="item2">
                                  <label class="checkbox-wrap">
                                    <input type="checkbox" class="checkbox-beauty">
                                    <span>会员单位</span>
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>

                  <!-- 负责人联系信息 -->
                  <div class="form-box">
                    <div class="form-box__header">
                      <h3 class="form-box__title">负责人联系信息</h3>
                    </div>
                    <div class="form-box__body">
                      <div class="tb-wrap">
                        <table>
                          <thead>
                            <tr>
                              <th>姓名</th>
                              <th>部门</th>
                              <th>职位</th>
                              <th>手机号码</th>
                              <th>办公电话</th>
                              <th>电子邮箱</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>用户名</td>
                              <td>科技部</td>
                              <td>副会长</td>
                              <td>1380000101</td>
                              <td>5109987</td>
                              <td>123@163.com</td>
                            </tr>
                            <tr>
                              <td><input type="text" class="tb-input"></td>
                              <td><input type="text" class="tb-input"></td>
                              <td><input type="text" class="tb-input"></td>
                              <td><input type="text" class="tb-input"></td>
                              <td><input type="text" class="tb-input"></td>
                              <td><input type="text" class="tb-input"></td>
                            </tr>
                          </tbody>

                        </table>
                      </div>

                    </div>
                  </div>

                  <!-- 变更原因 -->
                  <div class="form-box">
                    <div class="form-box__header">
                      <h3 class="form-box__title">变更原因</h3>
                    </div>
                    <div class="form-box__body">
                      <textarea name="" id="" cols="30" rows="10" class="reason-change"></textarea>
                    </div>
                  </div>
                  <div class="btn-group">
                    <button class="btn btn-submit">提交</button>
                    <button class="btn btn-cancel">取消</button>
                  </div>
                  <div class="contact-info">协会联系方式：010-66275250 / zilvguanli@pcab.org.cn</div>
                </form>
              </div>
              <!-- /.入会申请表 -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-footer">
      <div class="footer-list clearfix">
        <span class="footer-list-title">友情链接</span>
        <ul class="footer-list-item clearfix">
          <li>中国人民银行</li>
          <li>中国支付清算协会</li>
          <li>北京市民政局</li>
          <li>北京市社会团体管理局</li>
          <li>北京市金融服务办公室</li>
          <li>中国银行业监督管理委员会</li>
        </ul>
      </div>
      <div class="footer-ewm">
        <dl class="footer-ewm-dl">
          <dt><img src="../img/ewm.png" alt=""></dt>
          <dd>
            <p>地址：北京市西城区闹市口大街1号院长安兴融中心2号楼4层4A 邮编:10000 电话：（010-12345678、51527500）</p>
            <p>版权所有北京市支付清算协会 京ICP备 1234567890号</p>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <script src="../js/jquery-1.8.3.min.js"></script>

</body>

</html>