<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>考试目录</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../plugins/pagination/css/pagination.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/paper.css">
</head>

<body>
    <div class="box-wrapper">
        <div class="box-banner">
            <img class="img-banner" src="../img/banner.png" alt="">
            <img class="img-logo" src="../img/logo.png" alt="">
        </div>
        <div class="box-nav">
            <ul class="nav-list clearfix">
                <li><a href="##">首页</a></li>
                <li><a href="##">关于协会</a></li>
                <li><a href="##">会员服务</a></li>
                <li><a href="##">信息动态</a></li>
                <li><a href="##">政策法规</a></li>
                <li><a href="##">会员培训</a></li>
                <li><a href="##">党建信息</a></li>
            </ul>
            <div class="nav-input">
                <img class="img-search" src="../img/search.png" alt="">
                <input class="nav-input-text" placeholder="搜索您要查询的关键字" type="text">
            </div>
        </div>
        <div class="box-content">
            <div class="p-120">
                <div class="box-thematic clearfix">
                    <div class="box-the-left">
                       <div class="box-pager">
                           <h4 class="box-pager-title">PMP模拟考试试卷01</h4>
                           <ul class="box-pager-list clearfix">
                               <li class="active">1</li>
                               <li>2</li>
                               <li>3</li>
                               <li>4</li>
                               <li>5</li>
                               <li>6</li>
                               <li>7</li>
                               <li>8</li>
                               <li>9</li>
                               <li>10</li>
                               <li>11</li>
                               <li>12</li>
                               <li>13</li>
                               <li>14</li>
                               <li>15</li>
                               <li>16</li>
                               <li>17</li>
                               <li>18</li>
                               <li>19</li>
                               <li>20</li>
                           </ul>
                       </div>
                    </div>
                    <div class="box-the-right">
                        <div class="box-right-con clearfix">
                            <div class="box-pager-submit clearfix">
                                <button class="btn-submit">提交</button>
                                <span>45:00</span>
                            </div>
                            <div class="box-pager-choice activeShow clearfix">
                                <p><span>1、【单选题】</span>在确定项目中所需要开展的所有任务后，项目经理根据每个团队成员的技能分配任务。项目经理参考了下列哪一份文件？</p>
                                <ul>
                                    <li class="clearfix">
                                        <div>
                                            <input type="radio" name="rd" class="rd" id="rd1">
                                            <label for="rd1"></label>
                                        </div>
                                        <p>A.职责分配矩阵</p>
                                    </li>
                                    <li class="clearfix">
                                        <div>
                                            <input type="radio" name="rd" class="rd" id="rd2">
                                            <label for="rd2"></label>
                                        </div>
                                        <p>
                                            B.工作分解结构 
                                        </p>
                                    </li>
                                    <li class="clearfix">
                                        <div>
                                            <input type="radio" name="rd" class="rd" id="rd3">
                                            <label for="rd3"></label>
                                        </div>
                                        <p>C.资源分解结构</p>
                                    </li>
                                    <li class="clearfix">
                                        <div>
                                            <input type="radio" name="rd" class="rd" id="rd4">
                                            <label for="rd4"></label>
                                        </div>
                                        <p>D.工作包分配矩阵</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="box-pager-choice clearfix">
                                    <p><span>2、【单选题】</span>在确定项目中所需要开展的所有任务后，项目经理根据每个团队成员的技能分配任务。项目经理参考了下列哪一份文件？</p>
                                    <ul>
                                        <li class="clearfix">
                                            <div>
                                                <input type="radio" name="rd" class="rd" id="rd1">
                                                <label for="rd1"></label>
                                            </div>
                                            <p>A.职责分配矩阵</p>
                                        </li>
                                        <li class="clearfix">
                                            <div>
                                                <input type="radio" name="rd" class="rd" id="rd2">
                                                <label for="rd2"></label>
                                            </div>
                                            <p>
                                                B.工作分解结构 
                                            </p>
                                        </li>
                                        <li class="clearfix">
                                            <div>
                                                <input type="radio" name="rd" class="rd" id="rd3">
                                                <label for="rd3"></label>
                                            </div>
                                            <p>C.资源分解结构</p>
                                        </li>
                                        <li class="clearfix">
                                            <div>
                                                <input type="radio" name="rd" class="rd" id="rd4">
                                                <label for="rd4"></label>
                                            </div>
                                            <p>D.工作包分配矩阵</p>
                                        </li>
                                    </ul>
                            </div>
                            <div class="box-pager-choice clearfix">
                                    <p><span>3、【单选题】</span>在确定项目中所需要开展的所有任务后，项目经理根据每个团队成员的技能分配任务。项目经理参考了下列哪一份文件？</p>
                                    <ul>
                                        <li class="clearfix">
                                            <div>
                                                <input type="radio" name="rd" class="rd" id="rd1">
                                                <label for="rd1"></label>
                                            </div>
                                            <p>A.职责分配矩阵</p>
                                        </li>
                                        <li class="clearfix">
                                            <div>
                                                <input type="radio" name="rd" class="rd" id="rd2">
                                                <label for="rd2"></label>
                                            </div>
                                            <p>
                                                B.工作分解结构 
                                            </p>
                                        </li>
                                        <li class="clearfix">
                                            <div>
                                                <input type="radio" name="rd" class="rd" id="rd3">
                                                <label for="rd3"></label>
                                            </div>
                                            <p>C.资源分解结构</p>
                                        </li>
                                        <li class="clearfix">
                                            <div>
                                                <input type="radio" name="rd" class="rd" id="rd4">
                                                <label for="rd4"></label>
                                            </div>
                                            <p>D.工作包分配矩阵</p>
                                        </li>
                                    </ul>
                            </div>
                            <div class="box-pager-slide">
                                <ul class="slide-list">
                                    <li><a href="##" class="prev">第一题</a><i class="icon-right"></i></li>
                                    <li><a href="##" class="next">下一题<i class="icon-left">></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="footer-list clearfix">
                <span class="footer-list-title">友情链接</span>
                <ul class="footer-list-item clearfix">
                    <li>中国人民银行</li>
                    <li>中国支付清算协会</li>
                    <li>北京市民政局</li>
                    <li>北京市社会团体管理局</li>
                    <li>北京市金融服务办公室</li>
                    <li>中国银行业监督管理委员会</li>
                </ul>
            </div>
            <div class="footer-ewm">
                <dl class="footer-ewm-dl">
                    <dt><img src="../img/ewm.png" alt=""></dt>
                    <dd>
                        <p>地址：北京市西城区闹市口大街1号院长安兴融中心2号楼4层4A 邮编:10000 电话：（010-12345678、51527500）</p>
                        <p>版权所有北京市支付清算协会 京ICP备 1234567890号</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <script src="../js/jquery-1.8.3.min.js"></script>
    <script src="../plugins/pagination/js/jquery.pagination.js"></script>
    <script src="../js/echarts.js"></script>
    <script src="../js/pieCharts.js"></script>
    <!-- <script src="../js/home.js"></script> -->
    <script>
        $(".box-pager-list li").click(function(){
            $(this).addClass("active").siblings().removeClass("active");
        })
    </script>
</body>

</html>