<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>考试目录</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../plugins/pagination/css/pagination.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/list.css">
</head>

<body>
    <div class="box-wrapper">
        <div class="box-banner">
            <img class="img-banner" src="../img/banner.png" alt="">
            <img class="img-logo" src="../img/logo.png" alt="">
        </div>
        <div class="box-nav">
            <ul class="nav-list clearfix">
                <li><a href="##">首页</a></li>
                <li><a href="##">关于协会</a></li>
                <li><a href="##">会员服务</a></li>
                <li><a href="##">信息动态</a></li>
                <li><a href="##">政策法规</a></li>
                <li><a href="##">会员培训</a></li>
                <li><a href="##">党建信息</a></li>
            </ul>
            <div class="nav-input">
                <img class="img-search" src="../img/search.png" alt="">
                <input class="nav-input-text" placeholder="搜索您要查询的关键字" type="text">
            </div>
        </div>
        <div class="box-content">
            <div class="p-120">
                <div class="box-thematic clearfix">
                    <div class="box-the-left">
                        <div class="box-the-title">
                            <h4 class="news-rel">考试目录<span> Examination catalogue</span></h4>
                        </div>
                        <div class="box-meau paper-meau">
                            <ul class="box-meau-ul">
                                <li class="box-meau-li meauHover">
                                    <a class="box-meau-a box-meau-list1" href="##">PMP模拟考试考卷01</a>
                                </li>
                                <li class="box-meau-li">
                                    <a class="box-meau-a box-meau-list1" href="##">PMP模拟考试试卷02</a>
                                </li>
                                <li class="box-meau-li">
                                    <a class="box-meau-a box-meau-list1" href="##">PMP模拟考试试卷03</a>
                                </li>
                                <li class="box-meau-li">
                                    <a class="box-meau-a box-meau-list1" href="##">PMP模拟考试试卷04</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-the-right">
                        <div class="box-right-con">
                            <div class="box-ks">
                                <div class="box-ks-title">
                                    <div class="padding-20">
                                        <p class="box-ks-name">考试名称：</p>
                                        <h4 class="box-ks-h4">PMP模拟考试试卷01</h4>
                                        <div class="box-ks-list clearfix">
                                            <span>考试时长：</span>
                                            <p> 60分钟</p>
                                        </div>
                                        <div class="box-ks-list clearfix">
                                            <span>题型:</span>
                                            <ul>
                                                <li>单选题 20道</li>
                                                <li>多选题 20道</li>
                                                <li>判断题 20道</li>
                                            </ul>
                                        </div>
                                        <div class="box-ks-list clearfix">
                                            <span> 历史成绩：</span>
                                            <ul>
                                                <li>考试时间：2019年4月1日</li>
                                                <li>分数 90分</li>
                                            </ul>
                                        </div>
                                        <button  class="start-btn">开始考试</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="footer-list clearfix">
                <span class="footer-list-title">友情链接</span>
                <ul class="footer-list-item clearfix">
                    <li>中国人民银行</li>
                    <li>中国支付清算协会</li>
                    <li>北京市民政局</li>
                    <li>北京市社会团体管理局</li>
                    <li>北京市金融服务办公室</li>
                    <li>中国银行业监督管理委员会</li>
                </ul>
            </div>
            <div class="footer-ewm">
                <dl class="footer-ewm-dl">
                    <dt><img src="../img/ewm.png" alt=""></dt>
                    <dd>
                        <p>地址：北京市西城区闹市口大街1号院长安兴融中心2号楼4层4A 邮编:10000 电话：（010-12345678、51527500）</p>
                        <p>版权所有北京市支付清算协会 京ICP备 1234567890号</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <script src="../js/jquery-1.8.3.min.js"></script>
    <script src="../plugins/pagination/js/jquery.pagination.js"></script>
    <script src="../js/echarts.js"></script>
    <script src="../js/pieCharts.js"></script>
    <script src="../js/home.js"></script>
    <script>
       
    </script>
</body>

</html>