.box-wrapper{
    width:100%;
    height:100%;
}


/* banner */
.box-banner {
  position: relative;
  width: 100%;
  height: 335px;
}
.box-banner .img-banner {
  width: 100%;
  height: 100%;
}
.img-logo {
  position: absolute;
  top: 65px;
  left: 165px;
}
/* banner */
/* 导航 */
.box-nav {
  width: 100%;
  height: 46px;
  background: #4674c6;
}
.nav-list {
  float: left;
  padding-left: 120px;
}
.nav-list li {
  line-height: 46px;
  float: left;
  font-size: 14px;
  padding: 0 35px;
}
.nav-list li a {
  color: #fff;
}
.nav-input {
  float: right;
  padding-right: 120px;
  position: relative;
}
.nav-input-text {
  width: 237px;
  height: 32px;
  background: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 25px;
  margin-top: 8px;
  color: #a2a2a2;
  font-size: 12px;
}
.img-search {
  position: absolute;
  top: 18px;
  left: 5px;
}
/* 导航 */
/* 内容 */
.box-content {
  width: 100%;
  height: 200px;
}
/* 内容 */
/* footer */
.box-footer {
  width: 100%;
  height: 322px;
  background: #a7b2c4;
}
.footer-list {
  padding: 60px 0 0 120px;
}
.footer-list-title {
  color: #313c4e;
  font-size: 14px;
  float: left;
}
.footer-list-item {
  float: left;
  padding-left: 30px;
}
.footer-list-item li {
  font-size: 14px;
  float: left;
  color: #62738f;
  padding: 0 20px;
}
.footer-ewm {
  padding-top: 39px;
  padding-left: 120px;
}
.footer-ewm-dl dt {
  float: left;
}
.footer-ewm-dl dd {
  float: left;
  padding-left: 24px;
}
.footer-ewm-dl dd p {
  padding-top: 20px;
  color: #62738f;
  font-size: 14px;
}
/* footer */
