.login-top-banner {
  height:120px;
  background:url(../img/logo.png) 30px center no-repeat;
}
.login-content {
  position: relative;
  background:#fff url(../img/login-bg.png) center -43px no-repeat;
  &:before {
    content: '';
    display: table;
    line-height: 0;
  }
}
.login-form {
  margin: 50px auto;
  padding:10px 40px 20px 40px;
  width:448px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(204,204,204,.7);
  background-color:#fff;
  box-sizing: border-box;

  .form-box {
    .row {
      margin-bottom:20px;
    }
  }
  .flex-end {
    justify-content: flex-end;
  }
  .btn-block {
    width:100%;
    margin-top:10px;
  }
  .back-login {
    color:#4675c7;
    font-size:14px;
  }
  .login-bottom {
    text-align: right;
   
    a {
      color:#4675c7;
      font-size:14px;
    }
  }
}